body {
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", sans-serif;
}

.selectable:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
    cursor: pointer;
}
.selected {
    border: 2px solid #0d6efd;
    box-shadow: 0 0 10px rgba(13, 110, 253, 0.5);
}
.pointer{
    cursor: pointer;
}
