services:
  postgres:
    image: postgres:17
    container_name: postgres-dining
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
       - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  dine-app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    env_file:
        - .env.example
        - .env
    ports:
       - "${DINE_HTTP_PORT}:${DINE_HTTP_PORT}"

volumes:
  pgdata:
