openapi: 3.0.3
info:
  title: Dining Ordering API
  version: 1.0.0
  description: API for dining ordering

servers:
  - url: /api/v1

tags:
  - name: Auth
    description: Endpoints for user authentication
  - name: Management - Restaurants
    description: Endpoints for restaurant management
  - name: Management - Tables
    description: Endpoints for restaurant tables management
  - name: Management - Menus
    description: Endpoints for restaurant menu management
  - name: Management - Waiters
    description: Endpoints for restaurant waiters management
  - name: Orders

components:
  securitySchemes:
    bearerAuth:
      $ref: './components/security/security-schemes.yml#/securitySchemes/bearerAuth'

paths:
  /auth/signup:
    $ref: './paths/auth/signup.yml'
  /auth/signin:
    $ref: './paths/auth/signin.yml'
  /auth/refresh:
    $ref: './paths/auth/refresh.yml'
  /auth/logout:
    $ref: './paths/auth/logout.yml' 
  /auth/authorize:
    $ref: './paths/auth/authorize.yml' 

  /restaurants:
    $ref: './paths/management/restaurants.yml' 
  /restaurants/{id}:
    $ref: './paths/management/restaurants-id.yml' 

  /restaurants/{id}/tables:
    $ref: './paths/management/tables.yml' 
  /restaurants/{id}/tables/{table_id}:
    $ref: './paths/management/tables-id.yml' 

  /restaurants/{id}/menu/categories:
    $ref: './paths/management/categories.yml' 
  /restaurants/{id}/menu/categories/{category_id}:
    $ref: './paths/management/categories-id.yml' 
  /restaurants/{id}/menu/items:
    $ref: './paths/management/items.yml'
  /restaurants/{id}/menu/items/{item_id}:
    $ref: './paths/management/items-id.yml'

  /restaurants/{id}/waiters:
    $ref: './paths/management/waiters.yml' 
  /restaurants/{id}/waiters/{waiter_id}:
    $ref: './paths/management/waiters-id.yml'

  /orders/current?tableId={table_id}:
    $ref: './paths/orders/tables-id.yml' 
